<div class="marker" style="background-color: #FF385C; width: 25px; height: 25px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
  <i class="fa-solid fa-house" style="color: white;"></i>
</div>
