#interlace {
  background-image: url('https://www.capitaland.com/en/find-a-property/global-property-listing/residential/the-interlace/_jcr_content/root/container/container/entitydetails.coreimg.85.1600.jpeg/content/dam/capitaland-media-library/residential/Singapore/Singapore/The%20Interlace/Interlace_Woh%20Hup%20and%20CLS.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 500px;
};

#reflections {
  background-image: url('https://lh3.googleusercontent.com/gps-cs-s/APrbqlVcP0jkqxbqjSae_xEKy2Ce2l95EClz5eZDsdfJh0j5albG2-LE0otFGdSXtrcwYgeEdPZNOQDKk8CE-IpNCjdxssE8Kqx7JTdEkQ7cEu9kK56mC6DgmcCqeidS_wyYOjUgu5XG=s1360-w1360-h1020');
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 500px;
}
